html,
body {
  height: 100%;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.link-sidebar{
    color: white;
}

.distanciamento{ 
    padding-bottom: 100vh; padding-right: 50px;
    font-size: 20px;
}
.distanciamento i{
    margin-left: -20px;
}
.distanciamento li{
  margin-left: 10px;
}
.distaciamento-card{
    margin-top: 20px;
}
.display{
    display: flex;
}
table{
    margin-right: 150px;
}
table button{
  margin-left: 10px;
}
label, button{
  margin-top: 15px;
}
.afastar{
  margin-bottom: 20px;
}